body {
    font-family: Arial, sans-serif;
    background-color: #b4d8ac;
    padding: 50px;
  }
  /* #f9e6e6; */
  
  h1 {
    margin-bottom: 20px;
  }

  form {
    margin-bottom: 20px;
  }
  
  label {
    display: block;
    margin-bottom: 10px;
  }
  
  input[type="text"] {
    width: 200px;
    padding: 5px;
  }
  
  button[type="submit"] {
    padding: 10px 20px;
    background-color: #337ab7;
    color: #fff;
    border: none;
    cursor: pointer;
  }
  
  h2 {
    margin-bottom: 10px;
  }
  
  .res, .error {
    margin: 20px;
    padding: 20px;
    /* background-color: rgb(232, 240, 254); */
    border: 3px solid rgb(24, 21, 21);
    width: fit-content; 
    max-width: 400px; 
  }
  
  .res p {
    margin: 5px 0;
    padding: 4px;
  }
  
  /* .res p:first-child {
    font-weight: bold;  #ebeff9
  } */
  
  .res {
    display: grid;
    grid-template-columns: 150px auto;
    grid-column-gap: 10px;
  }  
  
  .error {
    color: red;
    font-weight: bold;
  }
  
  