body {
    font-family: Arial, sans-serif;
    background-color: #f7eaea;
    padding: 50px;
  }
  
  h1 {
    margin-bottom: 20px;
  }

  form {
    margin-bottom: 20px;
  }
  
  label {
    display: block;
    margin-bottom: 10px;
  }
  
  input[type="text"] {
    width: 200px;
    padding: 5px;
  }
  
  button[type="submit"] {
    padding: 10px 20px;
    background-color: #337ab7;
    color: #fff;
    border: none;
    cursor: pointer;
  }
  
  h2 {
    margin-bottom: 10px;
  }
  
  .res, .error {
    margin-bottom: 10px;
    padding: 15px;
    background-color: #f2f2f2;
    border: 1px solid #ccc;
    width: fit-content; 
    max-width: 400px; 
  }
  
  .res p {
    margin: 5px 0;
  }
  
  .res p:nth-child(3) {
    font-weight: bold;
  }
  
  .error {
    color: red;
    font-weight: bold;
  }
  
  